.navbarContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
    width: 100%;
    padding: 5px 15px;
    background-image: linear-gradient(#00BCD4,white,white, green);
    
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        flex: 1;

        a{
            margin: 0 15px;
        }

        .profileField{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                width: 100px;
                border-radius: 50%;
            }
            span{
                user-select: none;
            }
        }
    }
}